Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-JWT-Extended==3.5.1
Flask-Mail==0.9.1
Flask-WTF==0.14.2
python-dotenv==0.13.0
psycopg2-binary==2.8.5
requests==2.21.0
SQLAlchemy==1.2.18
werkzeug==0.16.1
email_validator==1.0.5
git+https://github.com/qwc-services/qwc-config-db.git@ee33dc8c0a0b405949e062036ee29b01bc4687b5#egg=qwc-config-db
qwc-services-core==0.1.2
