{% extends "templates/base.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript">

function setupLogElement(tabSelector, title, type="light") {
  // Clear previous
  $('#logs').find(tabSelector).find('> div').remove();

  const container = $('<div>').addClass('alert alert-' + type).attr('role', 'alert');
  const header = $('<strong>').text(title);
  const contents = $('<pre>');
  container.append(header).append(contents);
  $('#logs').find(tabSelector).append(container);
  return contents;
}

function fieldOption(option) {
  if ($('#' + option).prop('checked')) {
    return option + '=1';
  } else if ($('#' + option).prop('value') && $('#' + option).prop('type') !== 'checkbox') {
    return option + '=' + $('#' + option).prop('value');
  } else {
    return "";
  }
}

function runConfigGenerator() {
  const start_button = $('#generate_configs');
  const cancel_button = $('#generate_configs_cancel');

  const reset_buttons = function() {
    start_button.css('display', 'initial');
    cancel_button.css('display', 'none');
    start_button.attr("disabled", false);
    cancel_button.attr("disabled", false);
    $("#nav-confgen-tab").find('div.spinner').css('display', 'none');
    $("#nav-confgen").css('cursor', '');
  }

  const logElement = setupLogElement('#nav-confgen', "Generating configuration...");
  start_button.attr("disabled", true);
  $("#nav-confgen-tab").find('div.spinner').css('display', 'inline-block');
  $("#nav-confgen-tab").click();
  $("#nav-confgen").css('cursor', 'wait');

  const query = ['use_cached_project_metadata', 'force_readonly_datasets'].map(fieldOption).filter(Boolean).join("&");
  $.ajax('{{ url_for("generate_configs_start") }}?' + query).done(function(start_data) {
    start_button.css('display', 'none');
    cancel_button.css('display', 'initial');
    cancel_button.unbind().click(function(cancel_data) {
      cancel_button.attr("disabled", true);
      $.ajax('{{ url_for("generate_configs_cancel") }}?task_id=' + start_data.task_id);
    });

    let log_start = 0;
    const pollInterval = setInterval(function() {
      $.ajax('{{ url_for("generate_configs_status") }}?start=' + log_start + '&task_id=' + start_data.task_id).done(function(status_data) {
        logElement.append(status_data.logs);
        log_start += status_data.log_linecount;
        if (!status_data.running) {
          clearInterval(pollInterval);
          reset_buttons();
        }
      }).fail(function() {
        clearInterval(pollInterval);
        setupLogElement('#nav-confgen', "Error while generating configuration", 'danger');
        reset_buttons();
      });
    }, 1000);
  }).fail(function() {
    setupLogElement('#nav-confgen', "Error while generating configuration", 'danger');
    reset_buttons();
  });
}

function setupAPIRequestButton(btnSelector, url, options, tabSelector, titleSuccess, titleError) {
  const button = $(btnSelector);

  function reset_buttons() {
    button.prop("disabled", false);
    button.find('div.spinner').css('display', 'none');
    $('#logs').find(tabSelector).css("cursor", '');
    $(tabSelector).css('cursor', '');
    $(tabSelector + "-tab").find('div.spinner').css('display', 'none');
  }

  button.click(function() {
    button.attr("disabled", true);
    button.find('div.spinner').css('display', 'inline-block');
    $('#logs').find(tabSelector).css("cursor", 'wait');
    $(tabSelector).css('cursor', 'wait');
    $(tabSelector + "-tab").find('div.spinner').css('display', 'inline-block');
    $(tabSelector + "-tab").click();

    $.ajax({
      type: 'POST',
      url: url + "?" + options.map(fieldOption).filter(Boolean).join("&"),
      data: {
        csrf_token: '{{ csrf_token() }}'
      }
    }).done(function(data, status) {
      reset_buttons();

      // show response
      setupLogElement(tabSelector, titleSuccess).html(data);
    }).fail(function(jqXHR, status) {
      reset_buttons();

      // show errors
      let msg = jqXHR.statusText;
      if (jqXHR.status === 504) {
        msg = `{{ i18n('interface.main.timeout_error') }}`.replace(/\n/g, "<br/>");
      }
      else if (jqXHR.responseJSON) {
        msg = jqXHR.responseJSON.replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;");
      }
      else if (jqXHR.responseText && jqXHR.responseText.indexOf("<p>The CSRF token is invalid.</p>") != -1) {
        msg = "The CSRF token is invalid. Please reload this page and retry.";
      }
      else if (jqXHR.responseText) {
        msg = '<pre>' + jqXHR.responseText + '</pre>';
      }
      setupLogElement(tabSelector, titleError, 'danger').html(msg);
    });
  });
}

{% if have_qgis_server %}
  setupAPIRequestButton(
    '#qgis_server_logs',
    "{{ url_for('qgis_server_logs') }}",
    ['qgis_server_log_lines'],
    '#nav-qgisserver',
    "",
    ""
  );
{% endif %}

{% if solr_index_update_enabled %}
  setupAPIRequestButton(
    '#update_solr_index',
    "{{ url_for('update_solr_index') }}",
    [],
    '#nav-solr',
    "Updating Solr search index",
    "Error while updating Solr search index"
  );
{% endif %}
</script>
{% endblock %}
{%- block styles %}
  {{ super() }}
  <style type="text/css">
    span.question {
      display: inline-flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      width: 1.8ex;
      height: 1.8ex;
      border-radius: 1.2ex;
      padding: 1px;
      color: white;
      background: black;
    }

    .spinner {
      box-sizing: border-box;
      display: inline-block;
      width: 1em;
      height: 1em
    }
    .spinner:after {
      box-sizing: border-box;
      content: " ";
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      border: 2px solid currentColor;
      border-color: currentColor transparent currentColor transparent;
      animation: spinner 1.2s linear infinite;
    }
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
{% endblock %}

{% block title %}{{ i18n('interface.main.home_title') }}{% endblock %}
{% block container %}

  <h1>{{ admin_gui_title }}</h1>
  {{ admin_gui_subtitle }}

  {% if have_config_generator %}
  <br><br>
  <button id="generate_configs" class="btn btn-success" onclick="runConfigGenerator()">
    {{ i18n('interface.main.generate_configs') }}
  </button>
  <button id="generate_configs_cancel" class="btn btn-danger" style="display: none">
    {{ i18n('interface.main.generate_configs_cancel') }}
  </button>
  <br>
  <div style="border: 1px solid red; background: #FFDDDD; border-radius: 3px; padding: 0.25em 0.5em; margin: 0.5em 0;"><b>Warning: </b> Starting with qwc-config-generator:v2025.07.22, attribute resources shall be named by name, not alias.</div>
  <label style="padding-top: 0.5em"><input id="use_cached_project_metadata" type="checkbox" /> {{ i18n('interface.main.use_cached_project_metadata') }}</label>
  <span class="question" title="{{ i18n('interface.main.use_cached_project_metadata_help') }}">?</span>
  <br>
  <label style="padding-top: 0.5em; font-weight: bold; color: red;"><input id="force_readonly_datasets" type="checkbox" /> {{ i18n('interface.main.force_readonly_datasets') }}</label>
  <span class="question" title="{{ i18n('interface.main.force_readonly_datasets_help') }}">?</span>
  {% endif %}

  {% if have_qgis_server %}
  <br><br>
  <button id="qgis_server_logs" class="btn btn-success">
    <div class="spinner" style="display: none"></div> {{ i18n('interface.main.read_qgis_server_logs') }}
  </button>
  <br>
  <label style="padding-top: 0.5em"><input id="qgis_server_log_lines" type="number" min="0" max="10000" value="100" /> {{ i18n('interface.main.qgis_server_log_lines') }}</label>
  {% endif %}

  {% if solr_index_update_enabled %}
  <br><br>
  <button id="update_solr_index" class="btn btn-success">
    <div class="spinner" style="display: none"></div> Update Solr search index
  </button>
  {% endif %}

  <div id="logs" class="row mt-4">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% if have_config_generator %}
        <button class="nav-link active" id="nav-confgen-tab" data-bs-toggle="tab" data-bs-target="#nav-confgen" type="button" role="tab" aria-controls="nav-confgen" aria-selected="true">
          <div class="spinner" style="display: none"></div> ConfigGenerator logs
        </button>
        {% endif %}
        {% if have_qgis_server %}
        <button class="nav-link" id="nav-qgisserver-tab" data-bs-toggle="tab" data-bs-target="#nav-qgisserver" type="button" role="tab" aria-controls="nav-qgisserver" aria-selected="false">
          <div class="spinner" style="display: none"></div> QGIS Server logs
        </button>
        {% endif %}
        {% if solr_index_update_enabled %}
        <button class="nav-link" id="nav-solr-tab" data-bs-toggle="tab" data-bs-target="#nav-solr" type="button" role="tab" aria-controls="nav-solr" aria-selected="false">
          <div class="spinner" style="display: none"></div> Solr index logs
        </button>
        {% endif %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% if have_config_generator %}
      <div class="tab-pane fade show active" id="nav-confgen" role="tabpanel" aria-labelledby="nav-confgen-tab"></div>
      {% endif %}
      {% if have_qgis_server %}
      <div class="tab-pane fade" id="nav-qgisserver" role="tabpanel" aria-labelledby="nav-qgisserver-tab"></div>
      {% endif %}
      {% if solr_index_update_enabled %}
      <div class="tab-pane fade" id="nav-solr" role="tabpanel" aria-labelledby="nav-solr-tab"></div>
      {% endif %}
    </div>
  </div>
{% endblock %}
