{% extends "templates/base.html" %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
  $(function() {
    var clearAlert = function(alertSelector) {
      $('#alerts').find(alertSelector).find('> div').remove();
    };

    var showAlert = function(alertSelector, html) {
      $('#alerts').find(alertSelector).append(html);
    }

    var setupAPIRequestButton = function(buttonSelector, url, options, alertSelector, titleSuccess, titleError) {
      var button = $(buttonSelector);
      button.click(function() {
        clearAlert(alertSelector);
        button.attr("disabled", true);
        $(document.body).css("cursor", 'wait');

        let reqUrl = url;
        options.forEach(option => {
          if ($('#' + option).prop('checked')) {
            reqUrl += (reqUrl.includes('?') ? '&' : '?') + option + '=1';
          } else if ($('#' + option).prop('value')) {
            reqUrl += (reqUrl.includes('?') ? '&' : '?') + option + '=' + $('#' + option).prop('value');
          }
        });

        // call Admin GUI service
        $.post(
          reqUrl,
          {
            csrf_token: '{{ csrf_token() }}'
          }
        ).done(function(data, status) {
          button.prop("disabled", false);
          $(document.body).css("cursor", '');

          // show response
          var html = '';
          html += '<div class="alert alert-light" role="alert">';
          html +=   '<strong>' + titleSuccess + '</strong>';
          html +=   '<pre>';
          html +=     data;
          html +=   '</pre>';
          html += '</div>';
          showAlert(alertSelector, html);
          $(alertSelector + "-tab").click();
        }).fail(function(jqXHR, status) {
          button.prop("disabled", false);
          $(document.body).css("cursor", '');

          // show errors
          var msg = jqXHR.statusText;
          if (jqXHR.status === 504) {
            msg = `{{ i18n('interface.main.timeout_error') }}`.replace(/\n/g, "<br/>");
          }
          else if (jqXHR.responseJSON) {
            msg = jqXHR.responseJSON.replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;");
          }
          else if (jqXHR.responseText && jqXHR.responseText.indexOf("<p>The CSRF token is invalid.</p>") != -1) {
            msg = "The CSRF token is invalid. Please reload this page and retry.";
          }
          else if (jqXHR.responseText) {
            msg = '<pre>' + jqXHR.responseText + '</pre>';
          }

          var html = '';
          html += '<div class="alert alert-danger" role="alert">';
          html +=   '<strong>' + titleError + '</strong><br/>';
          html +=   '<div style="font-family: monospace">' + msg + '</div>';
          html += '</div>';
          showAlert(alertSelector, html);
          $(alertSelector + "-tab").click();
        });
      });
    }

    {% if have_config_generator %}
      setupAPIRequestButton(
        '#generate_configs',
        "{{ url_for('generate_configs') }}",
        ['use_cached_project_metadata', 'force_readonly_datasets'],
        '#nav-confgen',
        "Service configurations generated:",
        "Error while refreshing config cache:"
      );
    {% endif %}

    {% if have_qgis_server %}
      setupAPIRequestButton(
        '#qgis_server_logs',
        "{{ url_for('qgis_server_logs') }}",
        ['qgis_server_log_lines'],
        '#nav-qgisserver',
        "",
        ""
      );
    {% endif %}

    {% if solr_index_update_enabled %}
      setupAPIRequestButton(
        '#update_solr_index',
        "{{ url_for('update_solr_index') }}",
        [],
        '#nav-solr',
        "Solr search index update:",
        "Error while updating Solr search index:"
      );
    {% endif %}
  });
</script>
{% endblock %}
{%- block styles %}
  {{ super() }}
  <style type="text/css">
    span.question {
      display: inline-flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      width: 1.8ex;
      height: 1.8ex;
      border-radius: 1.2ex;
      padding: 1px;
      color: white;
      background: black;
    }
  </style>
{% endblock %}

{% block title %}{{ i18n('interface.main.home_title') }}{% endblock %}
{% block container %}

  <h1>{{ admin_gui_title }}</h1>
  {{ admin_gui_subtitle }}

  {% if have_config_generator %}
  <br><br>
  <button id="generate_configs" class="btn btn-success">
    {{ utils.render_icon('arrow-clockwise') }} {{ i18n('interface.main.generate_configs') }}
  </button>
  <br>
  <label style="padding-top: 0.5em"><input id="use_cached_project_metadata" type="checkbox" /> {{ i18n('interface.main.use_cached_project_metadata') }}</label>
  <span class="question" title="{{ i18n('interface.main.use_cached_project_metadata_help') }}">?</span>
  <br>
  <label style="padding-top: 0.5em; font-weight: bold; color: red;"><input id="force_readonly_datasets" type="checkbox" /> {{ i18n('interface.main.force_readonly_datasets') }}</label>
  <span class="question" title="{{ i18n('interface.main.force_readonly_datasets_help') }}">?</span>
  {% endif %}

  {% if have_qgis_server %}
  <br><br>
  <button id="qgis_server_logs" class="btn btn-success">
    {{ utils.render_icon('arrow-clockwise') }} {{ i18n('interface.main.read_qgis_server_logs') }}
  </button>
  <br>
  <label style="padding-top: 0.5em"><input id="qgis_server_log_lines" type="number" min="0" max="10000" value="100" /> {{ i18n('interface.main.qgis_server_log_lines') }}</label>
  {% endif %}

  {% if solr_index_update_enabled %}
  <br><br>
  <button id="update_solr_index" class="btn btn-success">
    {{ utils.render_icon('arrow-clockwise') }} Update Solr search index
  </button>
  {% endif %}

  <div id="alerts" class="row mt-4">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% if have_config_generator %}
        <button class="nav-link active" id="nav-confgen-tab" data-bs-toggle="tab" data-bs-target="#nav-confgen" type="button" role="tab" aria-controls="nav-confgen" aria-selected="true">ConfigGenerator logs</button>
        {% endif %}
        {% if have_qgis_server %}
        <button class="nav-link" id="nav-qgisserver-tab" data-bs-toggle="tab" data-bs-target="#nav-qgisserver" type="button" role="tab" aria-controls="nav-qgisserver" aria-selected="false">QGIS Server logs</button>
        {% endif %}
        {% if solr_index_update_enabled %}
        <button class="nav-link" id="nav-solr-tab" data-bs-toggle="tab" data-bs-target="#nav-solr" type="button" role="tab" aria-controls="nav-solr" aria-selected="false">Solr index logs</button>
        {% endif %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% if have_config_generator %}
      <div class="tab-pane fade show active" id="nav-confgen" role="tabpanel" aria-labelledby="nav-confgen-tab"></div>
      {% endif %}
      {% if have_qgis_server %}
      <div class="tab-pane fade" id="nav-qgisserver" role="tabpanel" aria-labelledby="nav-qgisserver-tab"></div>
      {% endif %}
      {% if solr_index_update_enabled %}
      <div class="tab-pane fade" id="nav-solr" role="tabpanel" aria-labelledby="nav-solr-tab"></div>
      {% endif %}
    </div>
  </div>
{% endblock %}
