{% extends "templates/base.html" %}

{# each home page module lives in templates/home/<id>.html #}

{% block scripts %}
{{super()}}
<script type="text/javascript">

function setupLogElement(tabSelector, title, type="light") {
  // Clear previous
  $('#logs').find(tabSelector).find('> div').remove();

  const container = $('<div>').addClass('alert alert-' + type).attr('role', 'alert');
  const header = $('<strong>').text(title);
  const contents = $('<pre>');
  container.append(header).append(contents);
  $('#logs').find(tabSelector).append(container);
  return contents;
}

function fieldOption(option) {
  if ($('#' + option).prop('checked')) {
    return option + '=1';
  } else if ($('#' + option).prop('value') && $('#' + option).prop('type') !== 'checkbox') {
    return option + '=' + $('#' + option).prop('value');
  } else {
    return "";
  }
}

function runConfigGenerator() {
  const start_button = $('#generate_configs');
  const cancel_button = $('#generate_configs_cancel');

  const reset_buttons = function() {
    start_button.css('display', 'initial');
    cancel_button.css('display', 'none');
    start_button.attr("disabled", false);
    cancel_button.attr("disabled", false);
    $("#nav-confgen-tab").find('div.spinner').css('display', 'none');
    $("#nav-confgen").css('cursor', '');
  }

  const logElement = setupLogElement('#nav-confgen', "Generating configuration...");
  start_button.attr("disabled", true);
  $("#nav-confgen-tab").find('div.spinner').css('display', 'inline-block');
  $("#nav-confgen-tab").click();
  $("#nav-confgen").css('cursor', 'wait');

  const query = ['use_cached_project_metadata', 'force_readonly_datasets'].map(fieldOption).filter(Boolean).join("&");
  $.ajax('{{ url_for("generate_configs_start") }}?' + query).done(function(start_data) {
    start_button.css('display', 'none');
    cancel_button.css('display', 'initial');
    cancel_button.unbind().click(function(cancel_data) {
      cancel_button.attr("disabled", true);
      $.ajax('{{ url_for("generate_configs_cancel") }}?task_id=' + start_data.task_id);
    });

    let log_start = 0;
    function pollLogs() {
      $.ajax('{{ url_for("generate_configs_status") }}?start=' + log_start + '&task_id=' + start_data.task_id).done(function(status_data) {
        logElement.append(status_data.logs);
        log_start += status_data.log_linecount;
        if (!status_data.running) {
          reset_buttons();
        } else {
          setTimeout(pollLogs, 1000);
        }
      }).fail(function() {
        setupLogElement('#nav-confgen', "Error while generating configuration", 'danger');
        reset_buttons();
      });
    }
    pollLogs();
  }).fail(function() {
    setupLogElement('#nav-confgen', "Error while generating configuration", 'danger');
    reset_buttons();
  });
}

function setupAPIRequestButton(btnSelector, url, options, tabSelector, titleSuccess, titleError) {
  const button = $(btnSelector);

  function reset_buttons() {
    button.prop("disabled", false);
    button.find('div.spinner').css('display', 'none');
    $('#logs').find(tabSelector).css("cursor", '');
    $(tabSelector).css('cursor', '');
    $(tabSelector + "-tab").find('div.spinner').css('display', 'none');
  }

  button.click(function() {
    button.attr("disabled", true);
    button.find('div.spinner').css('display', 'inline-block');
    $('#logs').find(tabSelector).css("cursor", 'wait');
    $(tabSelector).css('cursor', 'wait');
    $(tabSelector + "-tab").find('div.spinner').css('display', 'inline-block');
    $(tabSelector + "-tab").click();

    $.ajax({
      type: 'POST',
      url: url + "?" + options.map(fieldOption).filter(Boolean).join("&"),
      data: {
        csrf_token: '{{ csrf_token() }}'
      }
    }).done(function(data, status) {
      reset_buttons();

      // show response
      setupLogElement(tabSelector, titleSuccess).html(data);
    }).fail(function(jqXHR, status) {
      reset_buttons();

      // show errors
      let msg = jqXHR.statusText;
      if (jqXHR.status === 504) {
        msg = `{{ i18n('interface.main.timeout_error') }}`.replace(/\n/g, "<br/>");
      }
      else if (jqXHR.responseJSON) {
        msg = jqXHR.responseJSON.replace(/\n/g, "<br/>").replace(/ /g, "&nbsp;");
      }
      else if (jqXHR.responseText && jqXHR.responseText.indexOf("<p>The CSRF token is invalid.</p>") != -1) {
        msg = "The CSRF token is invalid. Please reload this page and retry.";
      }
      else if (jqXHR.responseText) {
        msg = '<pre>' + jqXHR.responseText + '</pre>';
      }
      setupLogElement(tabSelector, titleError, 'danger').html(msg);
    });
  });
}

{% for module in modules %}
{% import 'templates/home/' ~ module.id ~ '.html' as m with context %}
{{ m.setup() }}
{% endfor %}
</script>
{% endblock %}
{%- block styles %}
  {{ super() }}
  <style type="text/css">
    span.question {
      display: inline-flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
      width: 1.8ex;
      height: 1.8ex;
      border-radius: 1.2ex;
      padding: 1px;
      color: white;
      background: black;
    }

    .spinner {
      box-sizing: border-box;
      display: inline-block;
      width: 1em;
      height: 1em
    }
    .spinner:after {
      box-sizing: border-box;
      content: " ";
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      border: 2px solid currentColor;
      border-color: currentColor transparent currentColor transparent;
      animation: spinner 1.2s linear infinite;
    }
    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
{% endblock %}

{% block title %}{{ i18n('interface.main.home_title') }}{% endblock %}
{% block container %}

  <h1>{{ admin_gui_title }}</h1>
  {{ admin_gui_subtitle }}

  {% for module in modules %}
    {% import 'templates/home/' ~ module.id ~ '.html' as m with context %}
    {{ m.controls() }}
  {% endfor %}

  <div id="logs" class="row mt-4">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for module in modules %}
          {% import 'templates/home/' ~ module.id ~ '.html' as m with context %}
          {{ m.tab_button(module.id == modules[0].id) }}
        {% endfor %}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {% for module in modules %}
        {% import 'templates/home/' ~ module.id ~ '.html' as m with context %}
        {{ m.tab_pane(module.id == modules[0].id) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
