{% extends "base_index.html" %}

{% block title %}Permissions{% endblock %}

{% block buttons %}
  <a href="{{ url_for('new_%s' % endpoint_suffix) }}" class="btn btn-success" role="button">
    {{ utils.icon('plus') }} New Permission
  </a>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Role Filter <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li role="presentation" class="{{ 'active' if active_role is none }}">
        <a href="{{ url_for('permissions', type=active_resource_type) }}">All</a>
      </li>
      <li role="separator" class="divider"></li>
      {% for role in roles %}
        <li class="{{ 'active' if role.name == active_role }}">
          <a href="{{ url_for('permissions', role=role.name, type=active_resource_type) }}">{{ role.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Type Filter <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li role="presentation" class="{{ 'active' if active_resource_type is none }}">
        <a href="{{ url_for('permissions', role=active_role) }}">All</a>
      </li>
      <li role="separator" class="divider"></li>
      {% for resource_type in resource_types %}
        <li class="{{ 'active' if resource_type == active_resource_type }}">
          <a href="{{ url_for('permissions', role=active_role, type=resource_type) }}">{{ resource_types[resource_type] }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="btn-group">
    <form action="{{ url_for(base_route) }}" method="get">
      {% if active_role %}
        <input type="hidden" name="role" value="{{ active_role }}" />
      {% endif %}
      {% if active_resource_type %}
        <input type="hidden" name="type" value="{{ active_resource_type }}" />
      {% endif %}
      <div class="input-group">
        <input name="search" type="text" class="form-control" placeholder="Search" value="{{ search_text if search_text }}">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">{{ utils.icon('search') }}</button>
        </span>
      </div>
    </form>
  </div>
{% endblock %}

{% block table_headers %}
  <th>{{ sortable_column("ID", 'id') }}</th>
  <th>{{ sortable_column("Role", 'role') }}</th>
  <th>{{ sortable_column("Resource type", 'type') }}</th>
  <th>{{ sortable_column("Resource", 'resource') }}</th>
  <th>{{ sortable_column("Priority", 'priority') }}</th>
  <th>{{ sortable_column("Write", 'write') }}</th>
{% endblock %}

{% block resource_fields %}
  <td>{{ resource.id }}</td>
  <td>{{ resource.role.name }}</td>
  <td>{{ resource_types[resource.resource.type] }}</td>
  <td>{{ resource.resource.name }}</td>
  <td>{{ resource.priority }}</td>
  <td>{{ resource.write }}</td>
{% endblock %}

{% block delete_resource_confirmation %}Remove permission?{% endblock %}
