body {
  padding-top: 70px;
}

.form-group.required label.control-label:after {
  content: "*";
  color: #d43f3a;
}

.pagination > li.gap > span {
  border: none;
  padding: 7px 6px;
  z-index: -1;
}

.pagination > li.last {
  padding-right: 4px;
}
.pagination > li.last > a,
.pagination > li.last > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-group {
  width: 20%;
}

.hierarchy .item-offset {
  float: left;
  width: 3em;
}
