{% extends "base_index.html" %}

{% block title %}Resources{% endblock %}

{% block buttons %}
  <a href="{{ url_for('new_%s' % endpoint_suffix, type=active_resource_type) }}" class="btn btn-success" role="button">
    {{ utils.icon('plus') }} New Resource
  </a>

  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Type Filter <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li role="presentation" class="{{ 'active' if active_resource_type is none }}">
        <a href="{{ url_for('resources') }}">All</a>
      </li>
      <li role="separator" class="divider"></li>
      {% for resource_type in resource_types %}
        <li class="{{ 'active' if resource_type == active_resource_type }}">
          <a href="{{ url_for('resources', type=resource_type) }}">{{ resource_types[resource_type] }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="btn-group">
    <form action="{{ url_for(base_route) }}" method="get">
      {% if active_resource_type %}
        <input type="hidden" name="type" value="{{ active_resource_type }}" />
      {% endif %}
      <div class="input-group">
        <input name="search" type="text" class="form-control" placeholder="Search" value="{{ search_text if search_text }}">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">{{ utils.icon('search') }}</button>
        </span>
      </div>
    </form>
  </div>
{% endblock %}

{% block table_headers %}
  <th>{{ sortable_column("ID", 'id') }}</th>
  <th>{{ sortable_column("Type", 'type') }}</th>
  <th>{{ sortable_column("Name", 'name') }}</th>
  <th>Parent</th>
{% endblock %}

{% block resource_fields %}
  <td>{{ resource.id }}</td>
  <td>{{ resource_types[resource.type] }}</td>
  <td>{{ resource.name }}</td>
  <td>
    {% if resource.parent %}
      {{ resource.parent.name }} ({{ resource_types[resource.parent.type] }})
    {% endif %}
  </td>
{% endblock %}

{% block delete_resource_confirmation %}Remove resource?{% endblock %}
