{% import "bootstrap/wtf.html" as wtf %}
{% extends "templates/base.html" %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='js/jquery.multi-select.js') }}"></script>
<script type="text/javascript">
  $(function() {
    // initialize multi-select
    $('#groups').multiSelectWithSearch({
      selectableHeader: '<div class="ms-header">Groups</div>',
      selectionHeader: '<div class="ms-header">Assigned groups</div>'
    });
    $('#roles').multiSelectWithSearch({
      selectableHeader: '<div class="ms-header">Roles</div>',
      selectionHeader: '<div class="ms-header">Assigned roles</div>'
    });
  });
</script>
{% endblock %}

{%- block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/multi-select.css') }}" rel="stylesheet">
{%- endblock styles %}

{% block title %}{{ title }}{% endblock %}
{% block container %}
  <h1>{{ title }}</h1>

  <form class="form form-horizontal" action="{{ action }}" method="post">
    {% if method != 'POST' %}
      <input type="hidden" name="_method" value="{{method}}" />
    {% endif %}
    {{ form.csrf_token }}

    {{ wtf.form_field(form.name, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {{ wtf.form_field(form.description, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {{ wtf.form_field(form.email, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

    {% if form.user_info.data | length > 1 %}
      <legend>User info</legend>
      {%- for subfield in form.user_info %}
        {% if not bootstrap_is_hidden_field(subfield) -%}
          {{ wtf.form_field(subfield, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
        {%- endif %}
      {%- endfor %}
    {% endif %}

    <legend>Authentication</legend>
    {{ wtf.form_field(form.password, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {{ wtf.form_field(form.password2, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {% if form.totp_enabled %}
      {{ wtf.form_field(form.totp_secret, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {% endif %}
    {{ wtf.form_field(form.last_sign_in_at, form_type="horizontal", horizontal_columns=('sm', 2, 5), disabled=True) }}
    {{ wtf.form_field(form.failed_sign_in_count, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

    <legend>Groups and roles</legend>
    {{ wtf.form_field(form.groups, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}
    {{ wtf.form_field(form.roles, form_type="horizontal", horizontal_columns=('sm', 2, 5)) }}

    {{ wtf.form_field(form.submit, class="col-sm-offset-2 btn btn-primary") }}
  </form>
{% endblock %}
